@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(131,58,180);
    background-repeat: no-repeat;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

  .content {
    text-align: center;
  }

  h1 {
    font-size: clamp(2rem, 4rem, 6rem); /* Responsive font size */
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    margin-top: 1rem;
  }

  .footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 0.8rem; /* Adjust footer font size */
  }

  /* Media queries for responsive adjustments */
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem; /* Adjust font size for smaller screens */
    }
    .footer {
      font-size: 0.7rem; /* Adjust footer font size for smaller screens */
    }
  }

.btn {
    font-size: 150%;
}